In [1]:
import sqlalchemy as db
from getpass import getpass
import pymysql

In [2]:
password = getpass("Mysql Password: ")

Mysql Password: ········

In [3]:
dbName = "lab-mysql-select"
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [4]:
engine = db.create_engine(connectionData)
print("Connected to server!")

Connected to server!

In [5]:
import pandas as pd

Challenge 1 - Most Profiting Authors

In [9]:
"""
create temporary table s(
SELECT
title_id,
sum(qty) as qty
 
FROM sales
group by title_id
order by title_id);
"""

'\ncreate temporary table s(\nSELECT\ntitle_id,\nsum(qty) as qty\n \nFROM sales\ngroup by title_id\norder by title_id);\n'

In [11]:
df = pd.read_sql_query("""
select
a.au_id as author_id,
a.au_lname as au_lastname,
a.au_fname as au_name,
sum(round((ta.royaltyper/100)*t.advance+(ta.royaltyper/100)*(t.royalty/100)*(t.price*s.qty),2)) as profit

from authors a

inner join titleauthor ta
on(ta.au_id = a.au_id)

inner join titles t
on(t.title_id = ta.title_id)

inner join s
on(s.title_id = t.title_id)

group by author_id, au_lastname, au_name

order by profit desc;
""", engine)
df

      author_id     au_lastname   au_name    profit
0   213-46-8915           Green  Marjorie  12162.11
1   722-51-5454        DeFrance    Michel  11271.53
2   998-72-3567          Ringer    Albert   7225.96
3   238-95-7766          Carson    Cheryl   7110.16
4   807-91-6654        Panteley    Sylvia   7083.80
5   756-30-7391          Karsen     Livia   5282.39
6   274-80-9391        Straight      Dean   5029.99
7   899-46-2035          Ringer      Anne   4965.64
8   724-80-9391      MacFeather   Stearns   4778.73
9   267-41-2394         O'Leary   Michael   4420.94
10  427-17-2319            Dull       Ann   4050.00
11  846-92-7186          Hunter    Sheryl   4050.00
12  648-92-1872  Blotchet-Halls  Reginald   4033.46
13  486-29-1786        Locksley  Charlene   4019.98
14  672-71-3249        Yokomoto     Akiko   3211.99
15  409-56-7008          Bennet   Abraham   3017.99
16  472-27-2349      Gringlesby      Burt   2408.99
17  172-32-1176           White   Johnson   2029.99
18  712-45-1867    del Castillo     Innes     23.99

Challenge 2 - Alternative Solution --> Derived Table

In [12]:
df = pd.read_sql_query("""
select
a.au_id as author_id,
a.au_lname as au_lastname,
a.au_fname as au_name,
sum(round((ta.royaltyper/100)*t.advance+(ta.royaltyper/100)*(t.royalty/100)*(t.price*s.qty),2)) as profit

from authors a

inner join titleauthor ta
on(ta.au_id = a.au_id)

inner join titles t
on(t.title_id = ta.title_id)

inner join (
SELECT
title_id,
sum(qty) as qty
 
FROM sales
group by title_id
order by title_id) as s
on(s.title_id = t.title_id)

group by author_id, au_lastname, au_name

order by profit desc;
""", engine)
df

      author_id     au_lastname   au_name    profit
0   213-46-8915           Green  Marjorie  12162.11
1   722-51-5454        DeFrance    Michel  11271.53
2   998-72-3567          Ringer    Albert   7225.96
3   238-95-7766          Carson    Cheryl   7110.16
4   807-91-6654        Panteley    Sylvia   7083.80
5   756-30-7391          Karsen     Livia   5282.39
6   274-80-9391        Straight      Dean   5029.99
7   899-46-2035          Ringer      Anne   4965.64
8   724-80-9391      MacFeather   Stearns   4778.73
9   267-41-2394         O'Leary   Michael   4420.94
10  427-17-2319            Dull       Ann   4050.00
11  846-92-7186          Hunter    Sheryl   4050.00
12  648-92-1872  Blotchet-Halls  Reginald   4033.46
13  486-29-1786        Locksley  Charlene   4019.98
14  672-71-3249        Yokomoto     Akiko   3211.99
15  409-56-7008          Bennet   Abraham   3017.99
16  472-27-2349      Gringlesby      Burt   2408.99
17  172-32-1176           White   Johnson   2029.99
18  712-45-1867    del Castillo     Innes     23.99

Challenge 3 - Create Table most_profiting_authors

In [ ]:
"""
InternalError: (pymysql.err.InternalError) (1050, "Table 'most_profiting_authors' already exists")
"""
#it gives error due to it already exits in the db

In [13]:
df = pd.read_sql_query("""
create table most_profiting_authors 

select
a.au_id as author_id,
sum(round((ta.royaltyper/100)*t.advance+(ta.royaltyper/100)*(t.royalty/100)*(t.price*s.qty),2)) as profit

from authors a

inner join titleauthor ta
on(ta.au_id = a.au_id)

inner join titles t
on(t.title_id = ta.title_id)

inner join (
SELECT
title_id,
sum(qty) as qty
 
FROM sales
group by title_id
order by title_id) as s
on(s.title_id = t.title_id)

group by author_id

order by profit desc;
""", engine)
df

InternalError: (pymysql.err.InternalError) (1050, "Table 'most_profiting_authors' already exists")
[SQL:
create table most_profiting_authors

select
a.au_id as author_id,
sum(round((ta.royaltyper/100)*t.advance+(ta.royaltyper/100)*(t.royalty/100)*(t.price*s.qty),2)) as profit

from authors a

inner join titleauthor ta
on(ta.au_id = a.au_id)

inner join titles t
on(t.title_id = ta.title_id)

inner join (
SELECT
title_id,
sum(qty) as qty

FROM sales
group by title_id
order by title_id) as s
on(s.title_id = t.title_id)

group by author_id

order by profit desc;
]
(Background on this error at: http://sqlalche.me/e/2j85)